In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.read_csv?

In [3]:
with open('gdp-population.csv') as file:
    print(file.read())

City_Name,GDP,Population
SHANGHAI,27466.15 ,2419.70
BEIJING,24899.30 ,2172.90
GUANGZHOU,19610.90 ,1350.11
SHENZHEN,19492.60 ,1137.87
TIANJIN,17885.39 ,1562.12
CHONGQING,17558.76 ,3016.55
SUZHOU,15475.09 ,1375.00
CHENGDU,12170.20 ,1591.76

In [4]:
gdp=pd.read_csv('gdp-population.csv')
gdp

   City_Name       GDP  Population
0   SHANGHAI  27466.15     2419.70
1    BEIJING  24899.30     2172.90
2  GUANGZHOU  19610.90     1350.11
3   SHENZHEN  19492.60     1137.87
4    TIANJIN  17885.39     1562.12
5  CHONGQING  17558.76     3016.55
6     SUZHOU  15475.09     1375.00
7    CHENGDU  12170.20     1591.76

In [5]:
gdp.columns

Index(['City_Name', 'GDP', 'Population'], dtype='object')

In [6]:
gdp.index

RangeIndex(start=0, stop=8, step=1)

In [7]:
# 重命名列名
pd.read_csv('gdp-population.csv',names=['CITY','GDP','POP'])  # 可以发现原始的表头列多余了

        CITY        GDP         POP
0  City_Name        GDP  Population
1   SHANGHAI  27466.15     2419.70
2    BEIJING  24899.30     2172.90
3  GUANGZHOU  19610.90     1350.11
4   SHENZHEN  19492.60     1137.87
5    TIANJIN  17885.39     1562.12
6  CHONGQING  17558.76     3016.55
7     SUZHOU  15475.09     1375.00
8    CHENGDU  12170.20     1591.76

In [8]:
pd.read_csv('gdp-population.csv',names=['CITY','GDP','POP'],skiprows=[0]) # 想使city作为行索引

        CITY       GDP      POP
0   SHANGHAI  27466.15  2419.70
1    BEIJING  24899.30  2172.90
2  GUANGZHOU  19610.90  1350.11
3   SHENZHEN  19492.60  1137.87
4    TIANJIN  17885.39  1562.12
5  CHONGQING  17558.76  3016.55
6     SUZHOU  15475.09  1375.00
7    CHENGDU  12170.20  1591.76

In [9]:
gdp=pd.read_csv('gdp-population.csv',names=['CITY','GDP','POP'],skiprows=[0],index_col=0)
gdp

                GDP      POP
CITY
SHANGHAI   27466.15  2419.70
BEIJING    24899.30  2172.90
GUANGZHOU  19610.90  1350.11
SHENZHEN   19492.60  1137.87
TIANJIN    17885.39  1562.12
CHONGQING  17558.76  3016.55
SUZHOU     15475.09  1375.00
CHENGDU    12170.20  1591.76

In [10]:
gdp.index

Index(['SHANGHAI', 'BEIJING', 'GUANGZHOU', 'SHENZHEN', 'TIANJIN', 'CHONGQING',
       'SUZHOU', 'CHENGDU'],
      dtype='object', name='CITY')

In [11]:
# 缺失数据
pd.read_csv('gdp-pop.csv',index_col=0,names=['CITY','GDP','POP'],skiprows=[0])

                GDP      POP
CITY
SHANGHAI   27466.15      NaN
BEIJING    24899.30  2172.90
GUANGZHOU  19610.90  1350.11
SHENZHEN        NaN  1137.87
TIANJIN    17885.39  1562.12
CHONGQING  17558.76  3016.55
SUZHOU     15475.09  1375.00
CHENGDU    12170.20  1591.76

In [12]:
pd.read_csv('gdp-pop2.csv',index_col=0,na_values={'GDP':[None]})

                GDP  Population
City_Name
SHANGHAI   27466.15         NaN
BEIJING    24899.30     2172.90
GUANGZHOU  19610.90     1350.11
SHENZHEN        NaN     1137.87
TIANJIN    17885.39     1562.12
CHONGQING  17558.76         NaN
SUZHOU     15475.09     1375.00
CHENGDU    12170.20     1591.76

In [13]:
# 控制读入几行数据
pd.read_csv('aqi.csv',index_col=0,nrows=10)

     AQI    级别  首要污染物
城市
九江市   62     良   PM10
新余市   87     良  PM2.5
鹰潭市   80     良     O3
赣州市   88     良     O3
吉安市   96     良     O3
宜春市   97     良  PM2.5
抚州市   74     良  PM2.5
济南市  108  轻度污染     O3
章丘市  102  轻度污染     O3
青岛市  146  轻度污染     O3

In [14]:
# 分块读入
api_chunk=pd.read_csv('aqi.csv',index_col=0,encoding='utf-8',chunksize=50)
api_chunk

In [15]:
tot=pd.Series([])
for city in api_chunk:
    tot=tot.add(city['级别'].value_counts(),fill_value=0)
tot

中度污染      8.0
优       105.0
良       180.0
轻度污染     62.0
dtype: float64

In [16]:
import h5py