In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.read_csv?

In [3]:
with open('gdp-population.csv') as file:
    print(file.read())

City_Name,GDP,Population
SHANGHAI,27466.15 ,2419.70
BEIJING,24899.30 ,2172.90
GUANGZHOU,19610.90 ,1350.11
SHENZHEN,19492.60 ,1137.87
TIANJIN,17885.39 ,1562.12
CHONGQING,17558.76 ,3016.55
SUZHOU,15475.09 ,1375.00
CHENGDU,12170.20 ,1591.76

In [4]:
gdp=pd.read_csv('gdp-population.csv')
gdp

   City_Name       GDP  Population
0   SHANGHAI  27466.15     2419.70
1    BEIJING  24899.30     2172.90
2  GUANGZHOU  19610.90     1350.11
3   SHENZHEN  19492.60     1137.87
4    TIANJIN  17885.39     1562.12
5  CHONGQING  17558.76     3016.55
6     SUZHOU  15475.09     1375.00
7    CHENGDU  12170.20     1591.76

In [5]:
gdp=pd.read_csv('gdp-population.csv',header=0)  # header参数控制了以csv中的哪一行作为列名称
gdp

   City_Name       GDP  Population
0   SHANGHAI  27466.15     2419.70
1    BEIJING  24899.30     2172.90
2  GUANGZHOU  19610.90     1350.11
3   SHENZHEN  19492.60     1137.87
4    TIANJIN  17885.39     1562.12
5  CHONGQING  17558.76     3016.55
6     SUZHOU  15475.09     1375.00
7    CHENGDU  12170.20     1591.76

In [6]:
gdp.columns

Index(['City_Name', 'GDP', 'Population'], dtype='object')

In [7]:
gdp.index

RangeIndex(start=0, stop=8, step=1)

In [8]:
# 重命名列名
pd.read_csv('gdp-population.csv',names=['CITY','GDP','POP'])  # 使用names会新生成一个列表头

        CITY        GDP         POP
0  City_Name        GDP  Population
1   SHANGHAI  27466.15     2419.70
2    BEIJING  24899.30     2172.90
3  GUANGZHOU  19610.90     1350.11
4   SHENZHEN  19492.60     1137.87
5    TIANJIN  17885.39     1562.12
6  CHONGQING  17558.76     3016.55
7     SUZHOU  15475.09     1375.00
8    CHENGDU  12170.20     1591.76

In [9]:
pd.read_csv('gdp-population.csv',names=['CITY','GDP','POP'],skiprows=[0]) # skiprows传入一个list用来设置需要跳过不显示的行

        CITY       GDP      POP
0   SHANGHAI  27466.15  2419.70
1    BEIJING  24899.30  2172.90
2  GUANGZHOU  19610.90  1350.11
3   SHENZHEN  19492.60  1137.87
4    TIANJIN  17885.39  1562.12
5  CHONGQING  17558.76  3016.55
6     SUZHOU  15475.09  1375.00
7    CHENGDU  12170.20  1591.76

In [10]:
gdp=pd.read_csv('gdp-population.csv',names=['CITY','GDP','POP'],skiprows=[0],index_col=0) # index_col决定了index索引以哪一列来做
gdp

                GDP      POP
CITY
SHANGHAI   27466.15  2419.70
BEIJING    24899.30  2172.90
GUANGZHOU  19610.90  1350.11
SHENZHEN   19492.60  1137.87
TIANJIN    17885.39  1562.12
CHONGQING  17558.76  3016.55
SUZHOU     15475.09  1375.00
CHENGDU    12170.20  1591.76

In [11]:
gdp.index

Index(['SHANGHAI', 'BEIJING', 'GUANGZHOU', 'SHENZHEN', 'TIANJIN', 'CHONGQING',
       'SUZHOU', 'CHENGDU'],
      dtype='object', name='CITY')

In [12]:
# 缺失数据
pd.read_csv('gdp-pop.csv',index_col=0,names=['CITY','GDP','POP'],skiprows=[0])

                GDP      POP
CITY
SHANGHAI   27466.15      NaN
BEIJING    24899.30  2172.90
GUANGZHOU  19610.90  1350.11
SHENZHEN        NaN  1137.87
TIANJIN    17885.39  1562.12
CHONGQING  17558.76  3016.55
SUZHOU     15475.09  1375.00
CHENGDU    12170.20  1591.76

In [13]:
pd.read_csv('gdp-pop2.csv',index_col=0,na_values={'GDP':[19610.90,None]})  # 使用na_values来控制某列中出现的某个数据显示为NaN

                GDP  Population
City_Name
SHANGHAI   27466.15         NaN
BEIJING    24899.30     2172.90
GUANGZHOU       NaN     1350.11
SHENZHEN        NaN     1137.87
TIANJIN    17885.39     1562.12
CHONGQING  17558.76         NaN
SUZHOU     15475.09     1375.00
CHENGDU    12170.20     1591.76

In [14]:
# 控制读入几行数据
pd.read_csv('aqi.csv',index_col=0,nrows=10)

     AQI    级别  首要污染物
城市
九江市   62     良   PM10
新余市   87     良  PM2.5
鹰潭市   80     良     O3
赣州市   88     良     O3
吉安市   96     良     O3
宜春市   97     良  PM2.5
抚州市   74     良  PM2.5
济南市  108  轻度污染     O3
章丘市  102  轻度污染     O3
青岛市  146  轻度污染     O3

In [15]:
# 分块读入
api_chunk=pd.read_csv('aqi.csv',index_col=0,encoding='utf-8',chunksize=50)
api_chunk

In [16]:
for x in api_chunk:
    print(x)

      AQI    级别     首要污染物
城市
九江市    62     良      PM10
新余市    87     良     PM2.5
鹰潭市    80     良        O3
赣州市    88     良        O3
吉安市    96     良        O3
宜春市    97     良     PM2.5
抚州市    74     良     PM2.5
济南市   108  轻度污染        O3
章丘市   102  轻度污染        O3
青岛市   146  轻度污染        O3
胶州市   146  轻度污染        O3
即墨市   142  轻度污染        O3
平度市   146  轻度污染        O3
胶南市   157  中度污染        O3
莱西市   135  轻度污染        O3
淄博市   131  轻度污染        O3
枣庄市   104  轻度污染      PM10
东营市    88     良      PM10
烟台市   137  轻度污染        O3
莱州市   117  轻度污染        O3
蓬莱市   184  中度污染        O3
招远市   100     良        O3
日照市   114  轻度污染        O3
莱芜市   169  中度污染        O3
临沂市   120  轻度污染        O3
德州市    74     良        O3
聊城市    85     良      PM10
滨州市    76     良        O3
菏泽市   130  轻度污染        O3
郑州市   101  轻度污染  NO2,PM10
开封市   115  轻度污染      PM10
洛阳市    89     良      PM10
平顶山市  136  轻度污染        O3
安阳市    94     良      PM10
鹤壁市    86     良      PM10
新乡市   103  轻度污染       NO2
焦作市   100     良      PM10
濮阳市   127  轻度污染        O3
许昌市   113  轻度污染        O3
漯河市    95     良        O3
三门峡市   79     良      PM10
南阳市    84     良     PM2.5
商丘市   102  轻度污染        O3
信阳市    72     良      PM10
周口市    92     良        O3
武汉市    73     良     PM2.5
黄石市    97     良     PM2.5
十堰市    51     良      PM10
宜昌市    47     优       NaN
襄阳市    98     良     PM2.5
      AQI    级别       首要污染物
城市
鄂州市    85     良       PM2.5
荆门市    63     良       PM2.5
孝感市    57     良       PM2.5
荆州市    47     优         NaN
黄冈市    78     良       PM2.5
咸宁市    89     良       PM2.5
随州市    74     良       PM2.5
恩施州    36     优         NaN
长沙市    93     良       PM2.5
株洲市    94     良       PM2.5
湘潭市    87     良       PM2.5
衡阳市    89     良          O3
邵阳市    98     良       PM2.5
岳阳市    72     良       PM2.5
常德市    48     优         NaN
张家界市   42     优         NaN
益阳市    55     良  PM10,PM2.5
郴州市   171  中度污染          O3
永州市    82     良          O3
怀化市    72     良        PM10
娄底市    85     良       PM2.5
湘西州    60     良       PM2.5
广州市   133  轻度污染          O3
韶关市   120  轻度污染          O3
深圳市    76     良          O3
珠海市    60     良          O3
汕头市   103  轻度污染          O3
佛山市   121  轻度污染          O3
江门市    90     良          O3
湛江市    48     优         NaN
茂名市    55     良          O3
肇庆市   100     良          O3
惠州市    98     良          O3
梅州市    77     良          O3
汕尾市    88     良          O3
河源市    59     良          O3
阳江市    64     良          O3
清远市   127  轻度污染          O3
东莞市   154  中度污染          O3
中山市    78     良          O3
潮州市   116  轻度污染          O3
揭阳市   139  轻度污染          O3
云浮市    79     良       PM2.5
南宁市    41     优         NaN
柳州市    48     优         NaN
桂林市    60     良        PM10
梧州市    82     良       PM2.5
北海市    46     优         NaN
防城港市   34     优         NaN
钦州市    41     优         NaN
       AQI 级别  首要污染物
城市
贵港市     49  优    NaN
贺州市     99  良  PM2.5
河池市     58  良   PM10
来宾市     50  优    NaN
崇左市     54  良  PM2.5
海口市     35  优    NaN
三亚市     28  优    NaN
重庆市     38  优    NaN
成都市     48  优    NaN
自贡市     51  良   PM10
攀枝花市    45  优    NaN
泸州市     41  优    NaN
德阳市     43  优    NaN
绵阳市     45  优    NaN
广元市     48  优    NaN
遂宁市     41  优    NaN
内江市     30  优    NaN
乐山市     39  优    NaN
南充市     49  优    NaN
眉山市     44  优    NaN
宜宾市     45  优    NaN
广安市     36  优    NaN
达州市     33  优    NaN
雅安市     48  优    NaN
巴中市     33  优    NaN
资阳市     46  优    NaN
阿坝州     28  优    NaN
甘孜州     44  优    NaN
凉山州     38  优    NaN
贵阳市     41  优    NaN
六盘水市    53  良   PM10
遵义市     34  优    NaN
安顺市     45  优    NaN
铜仁地区    47  优    NaN
黔西南州    24  优    NaN
毕节市     36  优    NaN
黔东南州    32  优    NaN
黔南州     38  优    NaN
昆明市     39  优    NaN
曲靖市     33  优    NaN
玉溪市     50  优    NaN
保山市     25  优    NaN
昭通市     46  优    NaN
丽江市     23  优    NaN
普洱市     24  优    NaN
临沧市     28  优    NaN
楚雄州     22  优    NaN
红河州     37  优    NaN
文山州     34  优    NaN
西双版纳州   24  优    NaN
       AQI 级别 首要污染物
城市
大理州     23  优   NaN
德宏州     31  优   NaN
怒江州     25  优   NaN
迪庆州     32  优   NaN
拉萨市     37  优   NaN
昌都市     53  良  PM10
山南市     24  优   NaN
日喀则市    29  优   NaN
那曲地区    46  优   NaN
阿里地区    75  良    O3
林芝市     23  优   NaN
西安市     68  良   NO2
铜川市     74  良  PM10
宝鸡市     54  良  PM10
咸阳市     65  良  PM10
渭南市     79  良   NO2
延安市     72  良  PM10
汉中市     45  优   NaN
榆林市     65  良   NO2
安康市     40  优   NaN
商洛市     54  良  PM10
兰州市     67  良   NO2
嘉峪关市    65  良    O3
金昌市     55  良  PM10
白银市     48  优   NaN
天水市     55  良  PM10
武威市     62  良  PM10
张掖市     66  良    O3
平凉市     48  优   NaN
酒泉市     65  良    O3
庆阳市     62  良  PM10
定西市     54  良  PM10
陇南市     41  优   NaN
临夏州     38  优   NaN
甘南州     39  优   NaN
西宁市     62  良    O3
海东地区    55  良    O3
海北州     50  优   NaN
黄南州     32  优   NaN
海南州     44  优   NaN
果洛州     55  良    O3
玉树州     39  优   NaN
海西州     59  良    O3
银川市     69  良  PM10
石嘴山市    65  良    O3
吴忠市     69  良  PM10
固原市     66  良  PM10
中卫市     64  良  PM10
乌鲁木齐市   80  良  PM10
克拉玛依市   61  良    O3
        AQI    级别      首要污染物
城市
吐鲁番地区    79     良       PM10
哈密地区     71     良         O3
昌吉州     100     良         O3
博州       80     良         O3
库尔勒市     73     良       PM10
阿克苏地区    85     良       PM10
克州       67     良         O3
喀什地区     80     良         O3
和田地区    192  中度污染       PM10
伊犁哈萨克州   80     良       PM10
塔城地区     50     优        NaN
阿勒泰地区    42     优        NaN
石河子市    100     良         O3
五家渠市     87     良       PM10
北京市      58     良        NO2
天津市      65     良        NO2
石家庄市     72     良        NO2
唐山市      77     良       PM10
秦皇岛市     70     良        NO2
邯郸市      77     良   NO2,PM10
邯郸市      77     良   NO2,PM10
邢台市      78     良  NO2,臭氧8小时
保定市      82     良         O3
承德市      52     良       PM10
沧州市      75     良         O3
廊坊市      65     良        NO2
衡水市      75     良         O3
张家口市     48     优        NaN
太原市      86     良       PM10
大同市      55     良       PM10
阳泉市      72     良       PM10
长治市      93     良       PM10
晋城市     105  轻度污染         CO
朔州市      76     良       PM10
晋中市      69     良       PM10
运城市      90     良      PM2.5
忻州市      65     良       PM10
临汾市     110  轻度污染      PM2.5
吕梁市      63     良       PM10
呼和浩特市    53     良         O3
包头市      56     良       PM10
乌海市      64     良       PM10
赤峰市      50     优        NaN
通辽市      36     优        NaN
鄂尔多斯市    58     良         O3
呼伦贝尔市    28     优        NaN
巴彦淖尔市    55     良       PM10
乌兰察布市    64     良         O3
兴安盟      28     优        NaN
锡林郭勒盟    34     优        NaN
        AQI    级别     首要污染物
城市
阿拉善盟     69     良        O3
沈阳市      47     优       NaN
大连市      81     良        O3
瓦房店市     53     良      PM10
鞍山市      61     良        O3
抚顺市      49     优       NaN
本溪市      50     优       NaN
丹东市      70     良        O3
锦州市      60     良      PM10
营口市      69     良        O3
阜新市      43     优       NaN
辽阳市      55     良        O3
盘锦市      49     优       NaN
铁岭市      49     优       NaN
朝阳市      56     良      PM10
葫芦岛市     58     良      PM10
长春市      43     优       NaN
吉林市      47     优       NaN
四平市      52     良        O3
辽源市      77     良        O3
通化市      74     良        O3
白山市      70     良      PM10
松原市      30     优       NaN
白城市      43     优       NaN
延边州      72     良        O3
哈尔滨市     52     良  NO2,PM10
齐齐哈尔市    39     优       NaN
鸡西市      47     优       NaN
鹤岗市      34     优       NaN
双鸭山市     37     优       NaN
大庆市      41     优       NaN
伊春市      26     优       NaN
佳木斯市     35     优       NaN
七台河市     58     良      PM10
牡丹江市     39     优       NaN
黑河市      32     优       NaN
绥化市      45     优       NaN
大兴安岭地区   34     优       NaN
上海市     135  轻度污染        O3
南京市     100     良        O3
无锡市      88     良     PM2.5
江阴市     112  轻度污染     PM2.5
宜兴市     113  轻度污染     PM2.5
徐州市     108  轻度污染        O3
常州市      95     良     PM2.5
溧阳市      88     良     PM2.5
金坛市      82     良     PM2.5
苏州市      88     良     PM2.5
常熟市      97     良     PM2.5
张家港市    104  轻度污染     PM2.5
      AQI    级别       首要污染物
城市
昆山市   119  轻度污染       PM2.5
吴江市   113  轻度污染          O3
太仓市   102  轻度污染       PM2.5
南通市   101  轻度污染         NO2
海门市    97     良       PM2.5
连云港市   77     良       PM2.5
淮安市    97     良       PM2.5
盐城市   149  轻度污染       PM2.5
扬州市   129  轻度污染       PM2.5
镇江市   152  中度污染       PM2.5
句容市   102  轻度污染       PM2.5
泰州市   149  轻度污染       PM2.5
宿迁市    99     良          O3
杭州市   169  中度污染          O3
富阳市   112  轻度污染       PM2.5
临安市    98     良       PM2.5
宁波市   102  轻度污染          O3
温州市   116  轻度污染          O3
嘉兴市   138  轻度污染          O3
湖州市   114  轻度污染          O3
金华市   116  轻度污染          O3
义乌市   118  轻度污染          O3
衢州市   115  轻度污染          O3
舟山市   126  轻度污染          O3
台州市   120  轻度污染          O3
丽水市   103  轻度污染          O3
绍兴市   145  轻度污染          O3
合肥市    85     良       PM2.5
芜湖市    79     良       PM2.5
蚌埠市   100     良       PM2.5
淮南市   107  轻度污染       PM2.5
马鞍山市   87     良  PM10,PM2.5
淮北市   114  轻度污染       PM2.5
铜陵市    90     良         NO2
安庆市    84     良       PM2.5
黄山市    60     良        PM10
滁州市   106  轻度污染          O3
阜阳市    98     良        PM10
宿州市    98     良       PM2.5
六安市    66     良        PM10
亳州市    94     良       PM2.5
池州市    69     良       PM2.5
宣城市    60     良        PM10
福州市   101  轻度污染          O3
厦门市    77     良          O3
莆田市   115  轻度污染          O3
三明市    91     良          O3
泉州市   100     良          O3
漳州市   126  轻度污染          O3
南平市    95     良          O3
      AQI    级别 首要污染物
城市
龙岩市    85     良    O3
宁德市   110  轻度污染    O3
南昌市    78     良  PM10
景德镇市   68     良  PM10
萍乡市   100     良    O3

In [17]:
tot=pd.Series([])
for city in api_chunk:
    tot=tot.add(city['级别'].value_counts(),fill_value=0)
tot

Series([], dtype: float64)

In [18]:
# hdf5文件
import h5py

In [19]:
f=h5py.File('hdftest.hdf5','w')

In [20]:
f

In [21]:
# 创建dataset
d=f.create_dataset(name='/dataset1',shape=(99,99))
d

In [22]:
d.name

'/dataset1'

In [23]:
d.shape

(99, 99)

In [25]:
d[:]

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [26]:
# 创建group
g=f.create_group('group1')
g.name

'/group1'

In [27]:
d2=g.create_dataset(name='in_group1',shape=(20,))
d2.name

'/group1/in_group1'

In [28]:
list(f.keys())

['dataset1', 'group1']

In [29]:
list(f.items())

[('dataset1', <HDF5 dataset "dataset1": shape (99, 99), type "<f4">),
 ('group1', <HDF5 group "/group1" (1 members)>)]

In [30]:
list(f.values())

[<HDF5 dataset "dataset1": shape (99, 99), type "<f4">,
 <HDF5 group "/group1" (1 members)>]